.documentation_page .section {
  padding: 40px;
  line-height: 2;
}

.documentation_page .section code {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 2px 4px;
}

.docs_header {
  margin: 30px 0;
}

.docs_link {
  text-decoration: underline;
  color: var(--orange-0);
}

.heading {
  margin: 20px 0;
}

.heading .docs_link {
  text-decoration: none;
  color: inherit;
}

.heading .docs_link:hover::after {
  content: '#';
  margin-inline-start: 0.4rem;
  color: var(--orange-0);
}

.toc-item {
  padding-top: 10px;
  padding-left: 20px;
  color: var(--gray-500);
  font-size: 1.2rem;
  line-height: 1.34;
  font-weight: 500;
  word-break: break-all;
}

.toc-item .docs_link {
  text-decoration: none;
  color: inherit;
}

.toc-item.is_active {
  background: url('/assets/icons/icon_arrow_circle_right.svg') no-repeat 0 10px;
}
